$icon-color: white;
$loading-color: white;
$bottom-height: 36px;

@keyframes sk-flow {
  0%,
  80%,
  100% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(1);
  }
}

.xp {
  // loading animation
  .sk-flow {
    width: calc(40px * 1.3);
    height: calc(40px * 1.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sk-flow-dot {
    width: 25%;
    height: 25%;
    background-color: $loading-color;
    border-radius: 50%;
    animation: sk-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite
      both;

    &:nth-child(1) {
      animation-delay: -0.3s;
    }

    &:nth-child(2) {
      animation-delay: -0.15s;
    }
  }

  outline: none;
  position: relative;
  user-select: none;
  //   display: inline-block;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .xterm-viewport {
    overflow: hidden;
  }

  svg.icon {
    fill: $icon-color;
  }

  .video-wrapper {
  }

  .xp-overlay {
    position: absolute;
    z-index: 999;

    &-center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.xp-big-button {
      cursor: pointer;
      font-size: 0;
      width: 80px;
      background-color: red;
      border-radius: 25px;
      -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.5);
    }
  }

  .xp-control-bar {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 0;
    height: $bottom-height;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    z-index: 60;

    transition: opacity 0.2s ease-in-out 0.1s;

    * {
      box-sizing: inherit;
      user-select: none;
    }

    &-left {
      position: absolute;
      height: 100%;
      left: 0;
      bottom: 0;
    }

    &-right {
      position: absolute;
      height: 100%;
      right: 0;
      bottom: 0;
    }

    .xp-playback-rate-setting {
      display: inline-block;
      height: 100%;
    }

    .xp-setting-box {
      display: none;
      width: 70px;
      text-align: center;
      position: absolute;
      bottom: 50px;
      right: 0px;
      padding: 10px 0;
      border: 1px solid rgba(255, 255, 255, 0.5);

      &-open {
        display: block;
      }

      .xp-setting-item {
        cursor: pointer;
        padding: 5px 0;
      }
    }

    .xp-playback-rate {
      display: inline-block;
      width: 40px;
      line-height: $bottom-height;
      text-align: center;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer;
    }

    .xp-icon-button {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      height: 100%;
      width: $bottom-height;
    }

    .xp-time-display {
      vertical-align: middle;
      padding: 0 5px;
      line-height: $bottom-height;
      font-size: 14px;
      white-space: nowrap;
      cursor: default;
    }
  }

  .xp-progress-bar {
    position: absolute;
    bottom: $bottom-height;
    width: 100%;
    height: 5px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      transform: scaleY(1.5);
      transform-origin: center;
    }
  }

  .xp-progress {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 99;
    background-color: red;
  }

  .xp-progress-hover {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform-origin: 0 0;
  }
}
